absl-py==2.1.0
accelerate==0.21.0
addict==2.4.0
aenum==3.1.15
aiofiles==23.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiosignal==1.3.1
albucore==0.0.6
albumentations==1.4.3
alembic==1.13.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audio-separator==0.17.2
audioread==3.0.1
autobahn==24.4.2
Automat==24.8.1
av==11.0.0
basicsr==1.4.2
beartype==0.18.5
beautifulsoup4==4.12.2
bitsandbytes==0.43.1
blendmodes==2022
blinker==1.8.2
boltons==24.0.0
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chumpy==0.70
clean-fid==0.1.35
click==8.1.7
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
cloudpickle==3.0.0
cmake==3.29.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.3.0
controlnet-aux==0.0.9
-e git+https://github.com/facebookresearch/co-tracker.git@0f9d32869ac51f3bd12c5ead9c206366cfb6caea#egg=cotracker
crcmod==1.7
cryptography==42.0.7
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.10
databricks-cli==0.18.0
decorator==4.4.2
decord==0.6.0
deepdanbooru==1.0.3
deepspeed==0.14.4
deprecation==2.1.0
depth_anything @ https://github.com/huchenlei/Depth-Anything/releases/download/v1.0.0/depth_anything-2024.1.22.0-py2.py3-none-any.whl#sha256=26c1d38b8c3c306b4a2197d725a4b989ff65f7ebcf4fb5a96a1b6db7fbd56780
depth_anything_v2 @ https://github.com/MackinationsAi/UDAV2-ControlNet/releases/download/v1.0.0/depth_anything_v2-2024.7.1.0-py2.py3-none-any.whl#sha256=6848128867d1f7c7519d88df0f88bfab89100dc5225259c4d7cb90325c308c9f
diffq==0.2.4
diffusers==0.30.2
dlib @ file:///home/conda/feedstock_root/build_artifacts/dlib-split_1716027075421/work
dnspython==2.6.1
docker==6.1.3
dsine @ https://github.com/sdbds/DSINE/releases/download/1.0.2/dsine-2024.3.23-py3-none-any.whl#sha256=b9ea3bacce09f9b3f7fb4fa12471da7e465b2f9a60412711105a9238db280442
easydict==1.13
einops==0.4.1
email_validator==2.1.1
embreex==2.17.7.post5
entrypoints==0.4
exceptiongroup==1.2.1
facexlib==0.3.0
fastapi==0.94.0
fastapi-cli==0.0.4
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.14.0
filterpy==1.4.5
Flask==3.0.3
flatbuffers==24.3.25
flow-vis==0.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
ftfy==6.2.0
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
gdown==5.2.0
geffnet==1.0.2
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.32
glob2==0.5
google-api-core==2.19.1
google-api-python-client==2.135.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gradio==3.41.2
gradio_client==0.5.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.12.0
h5py==3.11.0
handrefinerportable @ https://github.com/huchenlei/HandRefinerPortable/releases/download/v1.0.1/handrefinerportable-2024.2.12.0-py2.py3-none-any.whl#sha256=1e6c702905919f4c49bcb2db7b20d334e8458a7555cd57630600584ec38ca6a9
hjson==3.1.0
hkdf==0.0.3
httpcore==0.15.0
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.1
huggingface-hub==0.24.6
humanfriendly==10.0
humanize==4.10.0
hydra-core==1.3.2
hyperlink==21.0.0
idna==3.7
imageio==2.33.0
imageio-ffmpeg==0.4.9
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==24.7.2
inflection==0.5.1
insightface==0.7.3
iopath==0.1.10
iterable-io==1.0.0
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
jittor==1.3.8.5
jmespath==0.10.0
joblib==1.4.2
json-tricks==3.17.3
jsonmerge==1.8.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
keras==3.4.1
kiwisolver==1.4.5
kornia==0.6.7
lark==1.1.2
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
lightning-utilities==0.11.2
lit==18.1.6
llvmlite==0.42.0
lmdb==1.4.1
lpips==0.1.4
lxml==5.3.0
magic-wormhole==0.15.0
Mako==1.3.5
manifold3d==2.5.1
mapbox_earcut==1.0.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mediapipe==0.10.11
ml-collections==0.1.1
ml-dtypes==0.4.0
mlflow==2.9.2
mmcv==2.1.0
mmdet==3.2.0
mmengine==0.10.4
mmpose==1.3.1
model-index==0.1.11
modelscope==1.20.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
munkres==1.1.4
mutagen==1.47.0
namex==0.0.8
networkx==3.3
ninja==1.11.1.1
numba==0.59.1
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.555.43
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
omegaconf==2.2.3
onnx==1.16.1
onnx2torch==1.5.14
onnxruntime-gpu==1.16.3
open-clip-torch==2.20.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.0
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
orjson==3.10.3
oss2==2.17.0
packaging==24.0
pandas==2.2.2
peft==0.13.2
piexif==1.1.3
Pillow==9.5.0
platformdirs==4.2.2
pooch==1.8.2
portalocker==2.10.1
prettytable==3.10.0
proglog==0.1.10
proto-plus==1.24.0
protobuf==3.20.3
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycocotools==2.0.7
pycollada==0.8
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==1.10.13
pydantic_core==2.18.2
pydub==0.25.1
pygame==2.6.0
Pygments==2.18.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
python-speech-features==0.6
pytorch-lightning==1.9.4
pytz==2023.4
PyWavelets==1.6.0
PyYAML==6.0.1
querystring-parser==1.2.4
realesrgan==0.3.0
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.2
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.3
resize-right==0.0.2
rich==13.4.2
rotary-embedding-torch==0.6.4
rpds-py==0.18.1
rsa==4.9
Rtree==1.3.0
safetensors==0.4.5
-e git+https://github.com/facebookresearch/sam2.git@c2ec8e14a185632b0a5d8b161928ceb50197eddc#egg=SAM_2
samplerate==0.1.0
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.11.4
segment-anything==1.0
semantic-version==2.10.0
sentencepiece==0.2.0
service-identity==24.1.0
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spake2==0.8
SQLAlchemy==2.0.30
sqlparse==0.5.0
starlette==0.26.1
svg.path==6.3
svglib==1.5.1
sympy==1.13.1
tabulate==0.9.0
tb-nightly==2.17.0a20240530
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminaltables==3.1.10
threadpoolctl==3.5.0
tifffile==2024.5.22
timm==0.6.7
tinycss2==1.3.0
tokenizers==0.20.0
tomesd==0.1.3
tomli==2.0.1
toolz==0.12.1
torch==2.0.1
torchaudio==2.0.2
torchdiffeq==0.2.3
torchmetrics==1.2.1
torchsde==0.2.5
torchvision==0.15.2
tqdm==4.66.5
trampoline==0.1.2
transformers==4.45.2
trimesh==4.4.4
triton==2.0.0
Twisted==24.7.0
txaio==23.1.1
txtorcon==24.8.0
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.30.0
uvloop==0.19.0
vhacdx==0.0.8.post1
watchfiles==0.22.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0.1
wormhole==0.1.0
wrapt==1.16.0
xatlas==0.0.9
xformers==0.0.22
xtcocotools==1.14.3
xxhash==3.4.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
yt-dlp==2024.8.6
zipp==3.19.0
zipstream-ng==1.7.1
zope.interface==7.0.2
